{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
    {% if search_form %}
        <div class="search-bar">
            <form method="get" action="{% url 'catalog' %}">
                <span class="left">{{ search_form.car_name }}</span>
                <span class="right"><input class="search-btn" type="submit" value="Go"/></span>
                {% csrf_token %}
            </form>
        </div>
    {% endif %}
    {% if user %}
        {% if user.first_name and user.last_name %}
            <p class="no-articles">{{ user.first_name }}'s Cars</p>
        {% else %}
            <p class="no-articles">{{ user.username }}'s Cars</p>
        {% endif %}
        <p class="no-articles2">{{ user.email }}</p>
        {% if user.phone %}
            <p class="no-articles2">{{ user.phone }}</p>
        {% endif %}
    {% endif %}
    {% if not count %}
        <p class="no-articles">No cars yet</p>
    {% endif %}
    <section id="catalogue">
        {% for car in cars %}
            <div class="car-card">
                <h3>{{ car.manufacturer }} {{ car.model }}</h3>
                <h1>{{ car.year }}, {{ car.fuel }}</h1>
                <div class="image-wrap">
                    <img src="/media/{{ car.cimage }}" alt="Sport Car">
                </div>

                <div class="like-price">
                    <span class="left">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'like car' car_id=car.id %}">
                                {% if car.is_liked_by_user %}
                                    <i class="material-icons favorite green"></i>
                                {% else %}
                                    <i class="material-icons favorite_border"></i>
                                {% endif %}
                            </a>
                            {{ car.likes_count }} likes
                        {% endif %}
                    </span>
                    <span class="right">
                        Price: $ {{ car.price | intcomma }}
                    </span>
                </div>
                <div class="details-buttons">
                    <a href="{% url 'details car' pk=car.pk %}" class="details-btn">Details</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}